*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* border: solid 1px black; */
}

/* -----------------------------------
palette
----------------------------------- */
:root {
	--color-primary: #adff2f;
	--color-secondary-bg: #141922;
	--color-neutral-white: #ffffff;
	--color-neutral: #d2d2d2;
	--color-neutral-dark: #a3a3a3;
	--color-neutral-darker: #282828;
	--color-neutral-black: #000000;
    --color-transparent-black: #00000080;
}


/* -----------------------------------
variable
----------------------------------- */
:root {
    --play-bar-height: 80px;
    --nav-width: 200px;
    --banner-height: 80px;
    --width-1-6: calc(100% / 6);
}


/* -----------------------------------
utility
----------------------------------- */
.m-b-1-rem
{
    margin-bottom: 1rem;
}

.m-t-1-rem
{
    margin-top: 1rem;
}

.m-b-0-5-rem
{
    margin-bottom: 0.5rem;
}

.m-t-0-5-rem
{
    margin-top: 0.5rem;
}

.p-s-0-5-rem
{
    padding: 0 0.5rem;
}

.p-s-1-rem
{
    padding: 0 1rem;
}

.c-white
{
    color: var(--color-neutral-white);
}

.c-grey
{
    color: var(--color-neutral-dark);
}

.bg-n-dark
{
    background-color: var(--color-neutral-dark);
}

.circle
{
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.icons-text-align
{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.o-fit-cover
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.of-hidden
{
    overflow: hidden;
}

/* -----------------------------------
flex
----------------------------------- */
.d-flex {
    display: flex;
}

.f-d-column
{
    flex-direction: column;
}

.f-wrap
{
    flex-wrap: wrap;
}

.j-c-center
{
    justify-content: center;
}

.j-c-s-between
{
    justify-content: space-between;
}

.a-i-center
{
    align-items: center;
}

.gap-0-5-rem
{
    gap: 0.5rem;
}
/* -----------------------------------
general
----------------------------------- */
.wrapper
{
    width: 100%;
    height: 100vh;
}

a
{
    text-decoration: none;
    color: inherit;
}

ul
{
    list-style: none;
}

p
{
    font-size: 0.6rem;
}

span
{
    font-size: 0.6rem;
    font-weight: 600;
}

.icons-xl
{
    font-size: 2rem;
}

.icons-lg
{
    font-size: 1.5rem;
}

.icons-md
{
    font-size: 1rem;
}

.svg-lg
{
    height: 25px;
}

.svg-sm
{
    height: 15px;
}



/* -----------------------------------
main
----------------------------------- */
main
{
    width: 100%;
    height: calc(100% - var(--play-bar-height));
}

/* navbar */

nav
{
    height: 100%;
    width: var(--nav-width);
    background-color: var(--color-neutral-black);
    padding: 0 1rem;
    color: var(--color-neutral-dark);
}

#logo-lg
{
    height: 40px;
    margin: 20px 0;
}

nav ul
{
    line-height: 30px;
}

.divider
{
    border-bottom: solid 1px var(--color-neutral-dark);
    margin: 10px 0;
}

.crea-playlist
{

}



/* content section */
.banner
{
    height: var(--banner-height);
    position: fixed;
    width: 100%;
    top: 0;
    left: var(--nav-width);
    background-color: var(--color-transparent-black);
    z-index: 1000;
}


.btn
{
    position: absolute;
    right: 220px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    color: var(--color-neutral-white);
    font-size: 0.7rem;
    border: solid 1px;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover
{
    scale: 105%;
}


/* content section */

.content
{
    width: calc(100% - var(--nav-width));
    height: 100%;
    overflow-y: auto;
    padding: var(--banner-height) 1rem 0;
    background-color: var(--color-secondary-bg);
    color: var(--color-neutral-white);
    
}

.content h6
{
    margin-top: 0.5rem;
    color: var(--color-neutral-dark);
}

.nav-bar-top
{
    color: var(--color-neutral-dark);
    gap: 1rem;
    padding: 1rem 0 2rem;
}

.nav-bar-top>*
{
    gap: 1rem;
}

.box-card
{
    margin: -0.5rem;
    padding: 2rem 0;
}

.card-container   
{
    width: calc(100% / 6);
    padding: 0.5rem;
}

.card
{
    text-align: center;
}


/* ----------------------------------- 
play-bar
-----------------------------------*/

.play-bar
{
    height: var(--play-bar-height);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-neutral-darker);
    z-index: 10000;
}

.play-bar-left,
.play-bar-right
{
    width: var(--nav-width);
    background-color: red;
    padding: 0 0.5rem;
}

.play-bar-center
{
    /* width: 100%; */
    /* width: 500px; */
    background-color: blue;
    padding: 0 0.5rem;
}

.album-play
{
    height: calc(var(--play-bar-height) / 2);
    aspect-ratio: 1/1;
}

#song-bar
{
    width: 30vw;
}

#volume-bar
{
    width: 100px;
}

.gap-s-b
{
    gap: 2vw;
}


/* ----------------------------------- 
responsive
-----------------------------------*/
@media screen and (max-width: 1200px) 
{
    .card-container   
    {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 992px) 
{
    .card-container   
    {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) 
{
    .card-container   
    {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) 
{
    
}